<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body bgcolor="#edebe3">
    <div>
        <h1>About</h1>
    </div>
    <div>
        <ul>
            <li>Empowering children's well-being through self-assessment tools and resources.</li>
            <li>Early intervention focus to support children's emotional growth.</li>
            <li>Providing resources and references to enhance children's social and emotional skills.</li>
            <li>Collaborating with parents and educators to create a supportive environment for children's development.</li>
            <li>Developing innovative technology solutions to promote mental wellness among children.</li>
          </ul>
          <p><b>Prevention and early intervention:</b> Catching potential issues early allows for better outcomes.</p>
          <p><b>Student empowerment:</b> focus is on giving students the tools to manage their well-being.</p>
          <p><b>Positive school environment:</b> The system is framed as a way to create a more supportive school community.</p>
    </div>
    <div>
        <h3>About Anxiety Test</h3>
        <p>Everybody worries or gets the odd case of butterflies in the stomach. But are you missing out on opportunities and happiness because of fears and worries? Is anxiety interfering with your life? While moderate anxiety can be limiting, severe anxiety can be crippling. Find out if you're too anxious with this anxiety test. It will determine whether you should consider seeking help, and to what degree. For each statement in the questionnaire, please indicate how often you feel that way.</p>
    </div>
    <div>
        <h3>About Internet Addiction Test</h3>
        <p>Could you be addicted to spending too much time on the internet—playing games, shopping, or reading articles? If activities like this interfere with connecting to people in real life, take the following quiz to find out whether you may be suffering from an addiction to the internet.</p>
    </div>
    <h3>About Depression Test</h3>
<p>Are you experiencing depression?
Many people feel low at some point, but for those with clinical depression, such feelings don’t pass; they lead to symptoms such as hopelessness, exhaustion, and thoughts of death. Depression can be treated but the first step is determining whether symptoms are present. This test could help. For each statement in the questionnaire, please indicate how often you feel that way.</p>

</body>
</html>