{% extends 'layout.html' %}

{% block content %}
<h1>FAQ's</h1>
<h3><b>Who Is This Mental Health Assessment For?</b> </h3>
<p>This test is for students who are struggling to cope with tasks of daily living or who experience symptoms of
    distress or impairment that prevent them from optimal functioning. This test is not intended to be diagnostic</p>
<h3><b>How do I know if the treatment will be beneficial ?</b> </h3>
<p>There are no guarantees with psychotherapy or psychiatry. We work in this field because we have seen people achieve
    tremendous gains form this kind of work. That doesn't mean that we can guarantee that every person will be helped,
    but if what you need is something that we can help with then we will use the best available treatments to do
    our utmost to help.</p>
<h3><b>Is it possible to diagnose yourself with depression? </b> </h3>
<p>No, medical diagnoses for depression can only be assessed by a healthcare professional. You can identify aspects of
    depression within yourself (e.g. feeling down and hopeless, having a hard time concentrating, a noticeable decrease
    in your energy level, thoughts of death or suicide, etc.), and all of these concerns should be addressed with your
    therapist so they can better identify the correct diagnosis and treatment plan for you.</p>
<h3><b>What are my treatment options for depression? </b> </h3>
<p>When depression symptoms last for two weeks or longer, seek help from a mental health professional. There are several
    different ways to treat depression including therapy, medication, or both.</p>
<h3><b>What are the main symptoms of depression?</b> </h3>
<p>Changes in sleep — sleeping too long or not enough,
    Moodiness and/or irritability that's a reflection of sadness,
    Loss of hope,
    Loss of appetite,
    Overindulging in food,
    Substance abuse,
    Engaging in risky behaviors,
    Suicidal thoughts,
    Having an overwhelming sense of sadness,
    Feeling lonely, despair, or other sedating moods,
    If you suspect that you or someone you know is struggling with these symptoms, taking our clinically-backed
    depression test acts as a great first step to gaining clarity and finding depression treatment options.</p>

{% endblock %}